body{
	background-color: #f2f9ed; 
	font-family: Garamond;
	font-size: 20px;
}
		
.menu {
	width: 100%;
	height: 8.7%
	background: url("VanGogh.jpg") fixed;
	position: fixed;
}

.image{
	opacity:0.8;
	width: 100%;
	height: 10%;
	object-fit: cover;
} 
				
		
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
		

.menu li{
	float:left;
}

.menu a{
	display: block;
	padding: 8px;
	background: rgb(0,0,0, 0.7);  /* transparency */
}
.menu li a{
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color:white;
}

.menu li a:hover{
	background-color: transparent;
}
		
		
		
	
.Bienvenue {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 20px 20px;
	background: rgb(0,0,0,0.6);  /* transparency */
	border-radius: 10px;
}

.Bienvenue a {
	color: white;
}

h2{
	padding-top: 60px;
}		
		
/* The grid: Three equal columns that floats next to each other */
.row{
	margin-left:25%;
	margin-top: 40px;
} 
aside {
	width: 25%;
	float: left;
}
aside img{
	width: 250px;
	height: 270px;
	margin-left: 20px;
	border-radius: 200px;
} 

.column {
	float: left;
	width: 25%;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
	color: black;
	padding-bottom: 15px;

}

.containerTab {
	color: black;
	display: none;
	background: #eeedf9; 
	padding: 20px;
	border: 1.2px solid #0000ab;
	border-radius: 10px;
	margin-left: 25%;
}

#b1 {
	display:block;
} 

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Closable button inside the image */
.closebtn {
	float: right;
	color: black;
	font-size: 35px;
	cursor: pointer;
}
				
		
.langues{
	width: 700px;
	text-align: center;
	border-spacing: 15px;
}
		
.drapeaux{
	border-radius: 15px;
	width: 100%;
	height: 100;
	width: 150;
}

		
.list_square{
	list-style-type: square;
}



.diplomes{
	background-color:#f3f2fa;
} 

.diplomes_table{
	width: 90%;
	font-family: Garamond;
	font-size: 20px;
	margin-left: 5%;
	margin-right: 5%;
	text-align:center;
	border-collapse: separate;
}



.icon{
	width: 20%;
	vertical-align: bottom;
	text-align: center;
}	
.date{
	vertical-align:top;

}

.text_left, .text_right, .text_experience{
	padding: 30px;
	text-align: center;
	border-radius: 10px;
	background-color:#e7f4e3;
	border: 1.2px solid #0000ab;
	
}

.text_left, .text_right{
	width: 40%;	
}	

.text_experience{
	width: 60%;
}


			
		
